/* contact.module.css */

.container {
  position: relative;
  background-color: transparent;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.container::before {
  content: '';
  position: absolute;
  /* inset: 50%; */
  /* width: 400px;
  height: 400px; */
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.title {
  font-size: var(--step-3);
  font-weight: 450;
  text-shadow: 0 0 16px rgba(0, 208, 243, 0.35);
  color: var(--sub-header);
  margin-bottom: 2rem;
}

.label {
  color: #ffffff;
}

.input, .textarea {
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: linear-gradient(
    135deg,
    rgba(18, 22, 57, 0.9),
    rgba(8, 8, 8, 0.9)
  );
  color: #fff;
  border-radius: 8px;
  /* text-shadow: 0 0 2px #ffffff; */
  transition: 0.3s;
}

.input:focus, .textarea:focus {
  border-color:#fea70a99;
  box-shadow: 0 0 5px #fea70a99, 0 0 10px #fea70a99;
}

.textarea {
  min-height: 120px;
  resize: none;
}

.button {
  border: 2px solid  #fea70a99;
  color: #ffffff;
  background: transparent;
  border-radius: 8px;
  /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ff7f50; */
  transition: 0.3s;
}

.button:hover {
  background-color: #fea70a;
  color: #0d1b2a;
  box-shadow: 0 0 14px #fea70a99;
}

/* 
   Responsive adjustments
    */

/* Tablet screens: max-width 768px */
@media (max-width: 768px) {
  /* .title { font-size: 2.5rem; } Smaller heading */
  .label { font-size: 1.1rem; } /* Smaller labels */
  .input, .textarea { padding: 0.7rem; font-size: 0.95rem; } /* Smaller inputs */
  .button { padding: 0.9rem 1.8rem; font-size: 1.1rem; } /* Smaller button */
}

/* Mobile screens: max-width 480px */
@media (max-width: 480px) {
  /* .title { font-size: 2rem; } Even smaller heading */
  .label { font-size: 1rem; } /* Smaller labels */
  .input, .textarea { padding: 0.6rem; font-size: 0.9rem; } /* Adjust inputs for small screens */
  .button { padding: 0.8rem 1.5rem; font-size: 1rem; } /* Compact button */
}